
<ion-header>

  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="backButtonClick()">
          <ion-icon class="back-icon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="page-title">Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [(formGroup)]="signUp" #form="ngForm" (ngSubmit)="signUp.valid ? next(signUp.value) : false">
    <ion-list>
      <ion-item class="login-form-item pass-item">
        <ion-label icon-left floating>         
          <ion-icon class="form-icons" ios="ios-person" md="md-person" name="person"></ion-icon>
            Email <span class="error" id="emailErrorMsg" 
                        [hidden]="signUp.controls.email.focus"
                        *ngIf="signUp.controls.email.touched && signUp.controls.email.errors?.required">
                        : Email is required</span> 
                  <span class="error" id="emailErrorMsg" 
                        *ngIf="signUp.controls.email.errors?.pattern && !signUp.controls.email.errors?.required">
                        : Invalid Email</span>
        </ion-label>
        <ion-input 
          type="text" name="email" 
          (focus)="clearErrorMessage()" 
          (focusout)="checkEmail(signUp.value.email)" 
          formControlName="email" 
          [value]=email 
          [(ngModel)]="email"></ion-input>
      </ion-item>
      
        <ion-item class="login-form-item pass-item">
          <ion-label icon-left floating>         
            <ion-icon class="form-icons" name="lock" ios="ios-lock" md="md-lock"></ion-icon>
            Password 
          </ion-label>
          <ion-input type="password" name="password" (focus)="clearErrorMessage()" formControlName="password" [value]=password [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item class="login-form-item pass-item">
          <ion-label icon-left floating>         
            <ion-icon class="form-icons" name="lock" ios="ios-lock" md="md-lock"></ion-icon>
            Confirm Password 
          </ion-label>
          <ion-input type="password" name="confirmPassword" formControlName="confirmPassword" [value]=confirmPassword  [(ngModel)]="confirmPassword" ></ion-input>
        </ion-item>
      
      <ion-item hidden></ion-item>
    </ion-list>
    <button ion-button class="next-button" (click)="next()" >Next</button>
  </form>
  <!--<user-reg-info></user-reg-info>-->


</ion-content>
