$primaryBlue: #387ef5;

user-reg-info {



    .page-title{
      text-align: right;
    }
   .back-icon{   
      font-size: 2em;
      padding-left: 0.5rem;
    }

  ion-content{
    background-color: #ececec !important;
      .scroll-content{
        // overflow-y: hidden;
        padding: 5rem 2rem !important;
      }

      .login-form-item{
        background: none !important;
        padding-right: 16px !important;

        .form-icons{
          font-size: 1em;
        }
      }
      .next-button{
        margin-top: 2rem;
        padding: 2rem 3.5rem;
        float: right;
      }
      ion-label{
        overflow: visible !important;
      }
      .error{
        font-size: 0.85em;
        color: #f53d3d !important;
      }
      .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner, .no-error{
        border-bottom-color: #dedede;
        box-shadow: none;
      }
      .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner{
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
      }
    }





}
