$primaryBlue: #387ef5;

user-reg-info {



    .page-title{
      text-align: right;
    }
   .back-icon{   
      font-size: 2em;
      padding-left: 0.5rem;
    }

  ion-content{
    background-color: #ececec !important;
      .scroll-content{
        // overflow-y: hidden;
        padding: 5rem 2rem !important;
      }

      .login-form-item{
        background: none !important;
        padding-right: 16px !important;

        .form-icons{
          font-size: 1em;
        }
      }
      .next-button{
        margin-top: 2rem;
        padding: 2rem 3.5rem;
        float: right;
      }
    }





}
